## Python modules / libraries
pandas==1.1.5
spacy==3.0.0
nltk==3.4.4
pyspellchecker==0.5.6
## Spacy language pipelines
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl 
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz
